<div class="container-fluid date-picker" id="input-date">
  <div class="input-group">
    <span class="input-group-addon cursor-pointer"><i class="fas fa-calendar"></i><b class="caret"></b></span>
    <input type="text" class="form-control"  id="daterange" placeholder="choose date & time range">
  </div>
</div>
