<div class="modal-header" id="modal-header">
  <h4 class="modal-title pull-left">{{titleName}}</h4>
  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" {{action close}}>&times;</button>
</div>
