{{outlet "modal"}}
<NavBar class="top-navbar"/>
<div id="side-bar"></div>
<div class="main-frame">
  <AccessibilityTester @top="5" @left="900"/>
  {{#if isLoading}}
    {{loading-circles}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>
