<div class="card-view devices" style="width:100%;height:105%">
  <iframe src="https://app.powerbi.com/view?r=eyJrIjoiODQwYTg4OTQtMWViZC00ZDc5LWExZGYtMmE3ZDQ2ZWNiNTYyIiwidCI6IjEyMjE4OTNmLWNlZGItNDBkMy05NTYwLWY2NzdmNTJiMTVkYiIsImMiOjEwfQ%3D%3D&pageName=ReportSectionc9fd68b601b1e391393d" height="100%" width="100%"></iframe>
</div>
