<div class="card-view devices" style="width:100%;height:105%">
  <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNDBkMmYwNTUtMDAzNi00OTU4LTg1ZWQtMGJhOWU4ZDEzZGViIiwidCI6IjEyMjE4OTNmLWNlZGItNDBkMy05NTYwLWY2NzdmNTJiMTVkYiIsImMiOjEwfQ%3D%3D" height="100%" width="100%"></iframe>
</div>
